<div class="about">
	<h1>So what's the point of Pinballn?</h1>
	<p><span>Pinballn</span> is a simple Ruby on Rails application built by Chip Eyler as a study exercise for <%= link_to "One Month Rails", "http://onemonthrails.com" %> and currently serves a place for pinball wizards to show off their favorite machines &amp related content from around the world.</p><br/>
	<p>If you'd like more information about Chip and his evolving journey into web development, please visit: <br/><%= link_to "http://freqn.com", "http://freqn.com" %></p>
	<br/>
	<p>Got questions?<br/><%= link_to "Ask", "http://freqn.com/ask" %></p>
</div>