<div class="about">
	<h1>What is Pinballr?</h1>
		<p>Pinballr is a place for anyone to show off their favorite pinball machines from any part of the world.</p>
		<p>This project was built as I progressed through <%= link_to "One Month Rails", "http://onemonthrails.com" %>.  If you'd like to read about my journey, my blog can be found <%= link_to "here", "http://freqn.com" %>.</p>
</div>