
<div class="jumbotron center">
<h1>Testing 1, 2, 3...</h1>
<% if user_signed_in? %>
This app is currently under construction.<br />In the meantime, please extend a warm greeting to Eugene the buffalo. He's timid, but he wants you to know that he's insanely excited about your registration.
<p><img src="http://i.imgur.com/BuODQwJ.png" width="75%"></p>
<% else %>
<p><%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
	<% end %>
</div>

