// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
	margin:0 auto;
	width: 100%;
}

.box {
	margin: 2px;
	width: 219px;
	padding: 10px;
	overflow: hidden;
	background: black;
	color: gray;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.box img {
	width: auto;
	max-height: 205px;
	border: 2px solid #1C1C1C;
	border-radius: 360px;
	-moz-border-radius: 360px;
	-webkit-border-radius: 360px;	
}

.panel-body p:first-child {
	color: white;
}

.box img{
	width: 100%;
}

.panel-heading img {
	width: 100%;
}
